*{
    /* background-color: black; */
    color: aliceblue;
}


header{
    background-color: black;
    position: fixed;
    width: 99%;
    display: flex;
    align-items: center;
    margin: 1rem;
}

span{
    display: flex;
    font-family: 'Holtwood One SC';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    cursor: pointer;
    padding: 0rem 2rem;
}
a {
    text-decoration: none;

}
.nav-links{
    display: flex;
    list-style: none;
    margin-left: 15rem;
}
.nav-links li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    display: inline-block;
    padding: 0px 20px;
    

}
.nav-links a{
    color: #FFFFFF;
}
.nav-links li a:hover{
    color: rgb(0, 107, 107);
}
.logo{
    padding-left: 10rem;
}
.navbar button{
    background-color: black;
}
.navbar button img{
    width: 45px;
    height: 30px;
}
/* -------------------------------------------------------------------- */
.home{
    background-color: black;
}
.home h4{
    padding-top: 150px;
    margin-left: 98px;   
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    /* line-height: 52px; */
    text-align: justify;
    color: #FFFFFF;

}
.home h3{
    /* padding-top: 61px; */
    margin-left: 98px;
    font-family: 'IBM Plex Sans Thai';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    /* line-height: 80px; */
    text-align: justify;    
    color: #FFFFFF;
    
}
.home p{
    margin-left: 98px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    /* line-height: 26px; */
    text-align: justify;
    color: #FFFFFF;
}
.home img{
    padding-top: 150px;
    padding-left: 90px;
    position: absolute;
    
    /* width: 358px;
    height: 40px; */
    
}
/* .home .container{
    padding: 6rem 2rem;
    justify-items: center;
    text-align: left;
    font-size: 20px;
} */

/* .home .container img{
    height: 15rem;
} */
.home button{
    
    cursor: pointer;
    margin: 20px 0px 0px 98px;
    width: 200px;
    height: 40px;
    /* padding: 5px 10px; */
    text-align: center;
    background-color: #E33066;
    border-radius: 15px;
}
.home a{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    /* line-height: 39px; */
}
/* ----------------- ---------------------------- */
.list{
    background-color: black;
    padding: 6rem 2rem;
}

.card{
    /* padding-bottom: 20rem; */
    background-color: black;
    height: 30rem;
    border-style: none;
}
.box{
    border-radius: 10px;
    background-color: brown;
    height: 20rem;
    transform: translateY(10rem);


}
.card img{
    height: 20rem;
    transform: translateY(-10rem);
}
.text{
    background-color: brown;
    height: 10rem;
}
.image{
    height: 10rem;
}
.viewmore{
    align-items: center;
}
.list button{
    font-weight: 100;
    font-size: 14px;
    /* margin-left: 8rem; */
    cursor: pointer;
    width: 15rem;
    padding: 5px 10px;
    text-align: center;
    background-color: red;
    border-radius: 10px;
}